@import "variables.less";

.fields-container {
  display: inline-block;
  margin: 0 auto 10px;

  text-align: left;
}

.container.register-form-container {
  padding-bottom: 35px;

  .page-title {
    margin-bottom: 20px;
  }
}

.container.register-rules {
  p {
    margin: 0 auto 25px;

    font-size: 15px;
    line-height: 25px;
  }

  label {
    line-height: 1.7;
  }

  p.help-block {
    margin: 0 0 25px 0;
    padding-left: 20px;

    text-align: left;
  }

  .fields-container {
    max-width: 560px;
  }
}

//-------------

.register-personal,
.personal-info-fields,
.contact-info-fields,
.register-contact {
  width: 800px;
  margin: 60px auto 0;
  padding: 20px 50px 30px;
}

p {
  font-size: 15px;
  line-height: 25px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto 25px;
}

.register-rules {
  .fields-container {
    margin-top: 15px;
  }

  .checkbox label {
    position: relative;

    display: inline-block;
    padding-left: 30px;
    margin-bottom: 5px;

    font-family: "Times New Roman", serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  top: 0px;
  left: 0;

  display: inline-block;
  margin: 0 !important;
  padding: 9px;

  -webkit-appearance: none;

  background: white;
  border: 1px solid #cacece;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    cursor: pointer;
  }
}

.checkbox input[type="checkbox"] {
  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }

  &:checked {
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #99a1a7;
  }

  &:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: rgba(0, 0, 0, 0.6);
  }
}

h2 + .section-subtitle {
  margin: 17px 0 10px;
}

.register-personal,
.personal-info-fields,
.contact-info-fields {
  padding: 20px 0 30px;
  margin: 30px auto 0;

  h2.section-subtitle {
    margin-bottom: 30px;
  }

  input.input-hidden {
    position: absolute;
    top: 0;
    opacity: 0;
  }
}

.personal-info-fields .image-upload {
  text-align: center;

  margin-bottom: 20px;

  label {
    position: relative;

    padding-left: 0;
    padding-bottom: 25px;
    &::after {
      content: "Set image";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      display: block;
      width: 100%;
      margin: 10px auto 0;

      color: #3e8b41;
      text-decoration: underline;
      text-align: center;

      cursor: pointer;
    }
  }

  .thumbnail {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;

    background: url(../img/placeholder2.png) no-repeat center center;
    background-size: cover;
    border: 4px solid #7ed682;
    border-radius: 50%;
    box-shadow: 0 0 14px 0 #c1c1c1;

    img {
      width: 120px;
      height: 120px;
      box-sizing: border-box;

      border-radius: 50%
    }
  }

  .thumbnail-input { // todo?
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}

.personal-info-fields,
.contact-info-fields {
  input, textarea,
  .text-field .form-control {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
  }
}

.register-personal {
  .form-section-title {
    margin-bottom: 30px;
  }
}

@media screen and(min-width: 320px) and (max-width: 767px) {
  .left-field {
    padding-right: 0 !important;
  }

  .right-field {
    padding-left: 0;
  }
}

//--

.column {
  display: flex;
  flex-direction: column;
}
.form-control{
  width: 100%;
}