@import "variables.less";

.main-header-wrapper.transparent {
  background-color: transparent !important;
}

//---------POSTER SECTION---------

.poster {
  position: relative;
  top: -70px;

  width: 100%;
  height: 100vh;
  padding: 0;

  background-size: calc(100% + 50px);

  z-index: 100;
  overflow: hidden;
}

.poster-slides {
  padding-left: 0;

  list-style: none;
}

.poster > .site-container {
  position: absolute;
  left: 0;

  z-index: 1000;
}

.slides-indicators {
  position: absolute;
  top: 30%;
  padding-left: 0;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;

  z-index: 1000;
}

.slides-indicators li {
  position: relative;

  display: block;
  width: 6px;
  height: 6px;
  margin-bottom: 25px;

  border-radius: 50%;
  background-color: black;
}

.slides-indicators li.active {
  width: 10px;
  height: 10px;
}

.slides-indicators li span {
  position: absolute;
  left: -8px;
  top: -8px;

  display: block;
  width: 22px;
  height: 22px;

  background-color: inherit;
  border-radius: 50%;

  opacity: 0;

  transition: 0.2s linear opacity;
}

.slides-indicators li:not(.active):hover {
  cursor: pointer;
  span {
    opacity: 0.3;
  }
}

.slide {
  position: absolute;
  right: 0;
  top: 0;

  display: block;
  width: 0;
  height: 100vh;

  background-repeat: no-repeat;
  overflow: hidden;

  transition: 1s ease-out width;

  .site-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;

    height: 30px;

    text-align: right;
  }
}

.slide.active {
  display: block;
  width: 100%;
}

.slide-layer {
  position: absolute;
  right: 0;
  top: 0;

  width: 100%;
  height: inherit;

  background-repeat: no-repeat;
}

.slide-title {
  position: absolute;
  top: 30%;
  right: calc(50vw - 375px);

  display: inline-block;
  width: 750px;
  margin: 0 auto;

  font-family: Lato, Arial, sans-serif;
  color: @darkgrey;
  font-size: 130px;
  font-weight: 700;
  text-align: center;
  word-spacing: 10px;
  white-space: nowrap;
  text-transform: uppercase;
}

.slide-caption {
  position: absolute;
  bottom: 30px;
  right: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  color: white;

  a {
    font-weight: bold;
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

.slide-1 {
  background: white url(../img/slider/slide1/liberty.jpg) center right;
  background-size: cover;

  z-index: 100;

  .slide-title {
    z-index: 180;
  }

  .slide-caption {
    z-index: 160;
  }

  &::before, &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    height: 70%;
    width: 200vw;

    background-size: 400px;
  }

  &::before {
    right: 20vw;

    background: url(../img/slider/slide1/cloud2.png) repeat-x top 100px right;

    animation: drift 80s linear 0s infinite;
  }

  &::after {
    background: url(../img/slider/slide1/cloud3.png) no-repeat top 100px right;
    opacity: 0.8;
    animation: drift 150s linear 0s infinite;
  }
}

@keyframes drift {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-200vw, 0, 0);
  }
}

//-------------PHILOSOPHY SECTION----------------

.philosophy {
  padding-top: 160px !important;
  margin-top: -110px;

  .goal {
    margin-top: 10px;
    padding: 20px 0;

    font-family: Lato, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;

  }
}

.principles-list {
  padding: 0;

  list-style: none;

  font-size: 15px;
  letter-spacing: 1px;

  li {
    position: relative;

    margin-bottom: 20px;
    padding-left: 54px;
    padding-top: 2px;
    vertical-align: middle;

    text-align: left;

    p {
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
  }

  span.icon {
    position: absolute;
    top: 10px;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;
  }

  li#education .icon {
    background: url(/img/icons/crown.png) no-repeat center top;
    background-size: 40px;
  }

  li#well-being .icon {
    background: url(/img/icons/heart.png) no-repeat center top;
    background-size: 46px;
  }

  li#discomfort .icon {
    background: url(/img/icons/thunder_red.png) no-repeat center top;
    background-size: 30px;
  }

  li#discomfort .icon {
    background: url(/img/icons/thunder_red.png) no-repeat center bottom;
    background-size: 34px;
  }

  li#sport .icon {
    background: url(/img/icons/whip.png) no-repeat right -4px bottom;
    background-size: 37px;
  }
}

.principle-name {
  margin-top: 19px;

  font-family: Lato, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

/*------------GUIDE SECTION------------------*/

.guide {
  padding: 55px 0 75px;

  .guide-list {
    margin-top: 40px;

    h3 {
      margin: 20px auto 10px;

      font-family: Lato, Arial, sans-serif;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
    }

    h3 a {
      color: @darkgrey;
    }

    span {
      width: 45px;
      height: 45px;
      margin: 0 auto;
      display: block;
    }

    #trainer-section span {
      background: url(/img/icons/person.png) no-repeat center center;
      background-size: 40px;
    }

    #article-section span {
      background: url(/img/icons/subscriber.png) no-repeat center center;
      background-size: 100%
    }

    #event-section span {
      background: url(/img/icons/calendar.png) no-repeat center center;
      background-size: 100%
    }
  }

  .guide-list-item {
    margin-bottom: 30px;
    padding: 0 30px;

    p {
      max-width: 250px;
    }
  }
}

//----------TEACHER INVITATION SECTION------------------

.teachers-invitation {
  padding: 35px 0 125px;

  background: url(/img/icons/teaching.png) no-repeat center center;
  background-size: 270px;
}

//--------------CONTACTS SECTION---------------------------

.contacts {
  padding: 60px 0;
}

//----------------SIGN UP SECTION--------------------

.sign-up {
  padding: 35px 0 55px;

  background-color: lighten(#eee, 4%);

  .form-control:focus {
    background-color: white;
  }
}

.subscribe-form-container {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 0;
}

#subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;

  .form-control {
    margin: 0;
    padding: 22px 15px;

    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;

    flex-grow: 2;
    width: 100% !important;

    &:hover {
      border: 1px solid lighten(@primary, 10%);
    }

    &:focus {
      box-shadow: none;
      border: 1px solid @primary;
    }
  }

  .form-group, .subscribe-form-btn {
    flex-grow: 2;
  }

  .subscribe-form-btn {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

//-----------------------------

@media screen and (min-width: 320px) and (max-width: 767px) {

  .poster {
    background-size: cover;
  }

  .slide-title {
    width: auto;

    white-space: normal;
    font-size: 70px;
  }

  .slide-caption {
    font-size: 14px;
    text-align: center;
  }

  .slide-title, .slide-caption {
    right: 0;
    left: 0;

    padding-left: 13px;
    padding-right: 13px;
  }

  .philosophy {
    .row {
      align-items: center;
    }

    .col-sm-6 {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  }

  .contacts p {
    max-width: none;
  }
}

@media screen and(min-width: 543px) and(max-width: 767px) {
  .philosophy .col-sm-6 ul {
    min-width: 523px;
  }
}

@media screen and (min-width: 768px) {

  .col-sm-6:first-child {
    padding-right: 20px;
  }

  .col-sm-6:nth-child(2) {
    padding-left: 20px;
  }

  .content-section.contacts p {
    margin-bottom: 30px;
  }

  .poster-title {
    font-size: 90px;
  }
}

@media screen and (min-width: 1651px) {
  .poster {
  }

  .poster-title {
    font-size: 105px;
  }
}