
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

//-------------------------------------------------------------------------------------

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/proximathin.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/ProximaNovaRegular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/ProximaNovaSemibold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Georgia;
  src: url(/fonts/GeorgiaRegular.ttf);
}

/*----*/

@import "variables.less";

/*----*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4,
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7,
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12,
.col-sm-12, .col-md-12, .col-lg-12, .row {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  flex-direction: column;

  font-family: "Lato", 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: black;

  background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

a {
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
  color: darken(@primary, 10%);
  text-decoration: underline;

  transition: color 0.2s ease-out;
}

a:hover {
  color: @darkgrey
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-section p {
  max-width: 500px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.centered {
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

/*-----------------------BUTTONS--------------------------------*/

.btn {
  display: inline-block;
  margin: 15px 10px;
  padding: 14px 23px;

  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;

  background-color: @primary;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 0 white;

  transition: 0.3s linear all;
  -webkit-transition: .3s linear all;
  -moz-transition: .3s linear all;
  -o-transition: .3s linear all;
}

.btn-wide {
  min-width: 200px;
}

.btn:active {
  background-color: lighten(@primary, 10%);
  outline: none;
  box-shadow: none !important;
}

.btn:hover,
.btn:focus {
  color: white;

  box-shadow: 0 0 16px 0 @primary !important;
  outline: none !important;
}

.btn-smaller {
  padding: 11px 22px;
}

.btn-active {
  box-shadow: 0 0 16px 0 @primary;
}

.btn-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: table !important;
}

.btn-join {
  padding: 7px 13px;
  margin: 0;

  background-color: transparent;
  border: 1px solid @primary;
  border-radius: 19px;

  transition: 0.2s linear all;
  font-weight: 600;
  color: @primary;
}

.btn-join:hover {
  color: white;

  background-color: @primary;
}

.btn-join:focus,
.btn-join:active {
  color: white;

  background-color: @primary;
  box-shadow: none !important;
}

/*-------------------------------TITLES--------------------------------------*/

h1 {
  margin: 40px auto 0;

  font-family: Lato, Arial, sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

h1, h2, h3 {

}

h2 {
  font-size: 22px;
}

.page-title {
  margin: 60px auto 40px;

  font-family: Lato, Arial, sans-serif;
  font-size: 50px;
  line-height: 1.15;
  font-weight: 700;
  color: @darkgrey;
  letter-spacing: 2px;
  text-align: center;

  text-transform: none;
}

.page-title-smaller {
  font-size: 40px;
}

.aligned-left {
  text-align: left;
}

.page-subtitle {
  position: relative;

  display: table;
  margin: 10px auto 30px;

  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  color: @darkgrey;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-title {
  margin: 15px auto 0;

  font-family: Lato, Arial, sans-serif;
  font-size: 44px;
  color: @darkgrey;
  line-height: 1.35;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.section-subtitle {
  margin: 17px 0 22px;

  font-family: Lato, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
}

.form-section-title{
  margin: 17px 0 12px;

  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
}

/*-------------------------MAIN------------------------------------*/

.site-content {
  position: relative;
  left: 0;
  top: 69px;

  padding: 1px 0 0;
  flex-grow: 1;

  //background-color: #f7f7f7;

  z-index: 200;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-container {
  display: flex;
}

.page-container, .container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.site-container {
  position: relative;

  min-width: 960px;
  max-width: 1335px;
  margin: 0 auto;
}

.smaller-container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

//------------------------HEADER-------------------------------------

.main-header, .main-footer {
  width: 100%;
  margin: 0;
;
  margin-bottom: 0;
  padding-left: 5px;

  font-size: 14px;
  text-align: left;
}

//------INPUTS-----

.form-group .form-control,
.form-group .select2-container--krajee .select2-selection {
  margin: 7px auto 0;
  z-index: 201;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 0;

  border: 0;
  box-shadow: none;

  transition: all ease-out 0.3s;

  z-index: 999;
}

.main-header-wrapper {
  position: relative;

  padding: 16px 0;

  background-color: white;
  border-bottom: 1px solid lighten(@lightgrey, 2%);

  z-index: 100;
}

.main-header-wrapper .site-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;

  z-index: 100;
}

.menu-icon {
  position: relative;

  display: block;
  width: 26px;
  height: 37px;
  margin-right: 15px;

  transition: 0.2s linear all;

  cursor: pointer;

  span {
    position: absolute;
    left: 0;

    display: block;
    height: 2px;

    background: @darkgrey;
    transition: inherit;
  }

  span:first-child {
    top: 14px;

    width: 26px;
  }

  span:nth-child(2) {
    top: 21px;

    width: 14px;
  }
}

.menu-icon.open {
  span {
    width: 20px;

    transform-origin: left center;
  }

  span:first-child {
    top: 10px;

    transform: rotate(45deg);
  }

  span:nth-child(2) {
    top: 24px;

    transform: rotate(-45deg);
  }
}

.site-nav, .user-nav {
  display: flex;
  padding: 0;
  margin-bottom: 0;

  list-style: none;
}

.main-nav {
  display: flex;
  margin: 0 auto 0 0;

  transition: 0.2s ease-out all;
}

.header-site-nav {
  min-width: 320px;

  li {
    margin-right: 7px;
  }

  li:last-child {
    margin-right: 0;
  }
  a {
    font-weight: 600;
  }
}

.user-nav {
  margin-left: auto;
}

.main-nav a {
  position: relative;

  display: inline-block;
  padding: 5px 15px 3px;

  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  color: @darkgrey;
  text-decoration: none;

  border: 2px solid transparent;

  transition: 0.2s all linear;
}

.main-nav a:hover,
.sub-menu a:hover,
.main-nav button.login:hover {
  color: @primary;
}

.main-nav a:active,
.main-nav button.login:active {
  color: rgba(0, 0, 0, 0.5);
}

.header-logo {
  position: absolute;

  display: block;
  margin: 0;
}

/*---------------------------MENU---------------------------*/

.dropdown-account {
  position: relative;

  display: flex;
  align-items: center;
  padding: 0 0 15px !important;
  margin-bottom: -15px;
}

.user-avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-bottom: 0;

  background-color: white;
  background-image: url(/img/placeholder2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;

  img{
    width: inherit;
    height: inherit;
    border-radius: 50%;

    object-fit: cover;
  }
}

.username {
  display: inline-block;
  margin-right: 15px;

  a {
    padding-left: 0 !important;

    font-family: "Lato", Arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
  }
}

.main-header .user-sub-menu {
  position: absolute;
  top: 53px;
  left: 0;

  display: none;
  width: 150px;
  margin: 0;
  padding: 15px 0 9px;

  background-color: @background;
  border: 1px solid @lightgrey;
  list-style: none;

  z-index: 1000;

  ul::before {
    content: "";

    position: absolute;
    top: -7px;
    left: 0;
    right: 0;

    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto;

    background-color: white;
    border-left: 2px solid lighten(@darkgrey, 10%);
    border-top: 2px solid lighten(@darkgrey, 10%);

    transform: rotate(45deg);
  }

  li {
    margin-bottom: 7px;
  }

  a, .enter {
    padding: 5px 15px 3px !important;

    font-family: "Lato", Arial, sans-serif;
    font-size: 14px !important;
    color: black;
    font-weight: 400;
    letter-spacing: 1px !important;
    text-decoration: none;
  }

  a:hover {
    color: @primary
  }
}

.user-sub-menu::after,
.user-sub-menu::before {
  content: "";

  position: absolute;

  display: block;
  width: 1px;
  height: inherit;

  background-color: @lightgrey
}

.user-sub-menu::before {
  left: 0;
  top: 0;
}

.user-sub-menu::after {
  right: 0;
}

.main-header ul > li:hover .user-sub-menu {
  display: block;
}

//---------------------------------------------------

.main-nav-sub-menu {
  position: fixed;
  top: -400px;

  display: none;
  width: 100%;
  padding: 120px 0 50px;

  background-color: lighten(@primary, 31%);
  border-bottom: 1px solid @lightgrey;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);

  z-index: 10 !important;
}

.main-nav-sub-menu section {
  margin-right: 100px;
}

.main-nav-sub-menu,
.footer-links {
  h4 {
    display: inline-block;
    margin: 0 0 17px;

    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    color: @darkgrey;
    font-weight: 600;
    letter-spacing: 1px;
  }

  ul {
    padding: 0;

    list-style: none;
  }

  li {
    margin-bottom: 2px;
  }

  a, .enter {
    display: inline-block;
    padding: 5px 0 3px;

    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;

    border: 0;
  }

  a:hover {
    color: darken(@primary, 10%);
    text-decoration: underline;
  }
}

.main-nav-sub-menu {
  display: block;

  font-family: Lato, Arial, sans-serif;
  font-weight: 500;

  ul {
    padding: 0;

    list-style: none;
  }
}

.main-nav-sub-menu .site-container {
  display: flex;
  align-content: flex-start;
}

button.enter, button.enter:hover,
button.enter:active,
button.enter:visited, button.enter:focus {
  color: darken(@primary, 10%);
  text-decoration: none;

  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;

  transition: 0.2s linear all;
}

button.enter:hover {
  color: darken(@primary, 10%) !important;
}

//--------------------PAGINATION------------------

.pagination {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 60px !important;
  margin-top: 35px !important;

  > li > a {
    margin-right: 7px;
    margin-left: 7px !important;

    color: black !important;

    border: none !important;
  }

  > .disabled > span {
    margin-right: 7px;
    border: none;
  }

  .active > a {
    color: white !important;

    background-color: @primary !important;
    border: none;
    box-shadow: 0 0 14px -2px @primary;
  }

  li.next:not(.disabled) a,
  li.prev:not(.disabled) a {
    width: 23px;
    height: 23px;
    margin-top: 4px;
    padding: 1px 8px;

    background-color: #f3f3f3;
    border-radius: 50%;
  }

  li:not(.active):not(.disabled) a:hover {
    background-color: #f3f3f3;
  }

  li.next:not(.disabled) a:hover {
    background-color: lighten(@primary, 30%);
  }

}

/*----------------FOOTER------------------------------------*/

.main-footer {
  position: relative;

  margin-top: 70px;
  padding: 60px 0;

  background-color: #f8f8f8;
  border-top: 1px solid @lightgrey;

  .page-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-logo {
  display: inline-block;
  margin-right: 70px;
}

.footer-links {
  margin-right: 70px;

  h4 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }

  a:hover {
    color: darken(@primary, 10%);
    text-decoration: underline;
  }
}

.footer-copyright {
  display: block;
  margin: 40px auto 10px;

  text-align: center;
}

.push {
  height: 160px;
}

span.date {
  white-space: pre;
}

/*-------------*/

.article-hr,
.content-divider {
  width: 50px;
  margin: 30px auto 25px;

  color: grey;

  background-color: grey;
  border-top: 1px solid grey;

}

//------------------------------------------------------------------------

.site-contact .form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-contact .form-container {
  margin: 50px auto;

  .form-group {
    width: 100%;
    margin-bottom: 15px !important
  }

  textarea {
    border: 1px solid @lightgrey !important
  }
}

.site-contact {
  p.centered {
    max-width: 60%;

    font-size: 17px;
  }

  .form-group .select2-selection,
  .form-group .form-control {
    width: 100% !important;

    color: black !important;

    border-color: @lightgrey !important;
    border-radius: 17px;
    box-shadow: none;

    transition: 0.15s linear all;
  }

  .form-group .select2-selection:hover,
  .form-group .form-control:hover,
  .checkbox input[type="checkbox"]:hover,
  .checkbox input[type="checkbox"]:checked:hover {
    border-color: lighten(@primary, 14%) !important;
    box-shadow: 0 0 14px -3px lighten(@primary, 10%)
  }

  .select2-container--krajee.select2-container--open .select2-selection {
    box-shadow: none;
  }

  .form-group .select2-selection:active,
  .form-group .form-control:active,
  .form-group .select2-selection:focus,
  .form-group .form-control:focus {
    border: 1px solid @primary !important;
    box-shadow: none;
  }

}

//-----------------------------

@media screen and (min-width: 320px) and (max-width: 767px) {

  .smaller-container,
  .site-container,
  .page-container,
  .site-contact .form-container,
  .container,
  .enter-container {
    max-width: 100%;
    min-width: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  //------MAIN HEADER-------
  .header-site-nav,
  .user-nav .btn-join {
    display: none;
  }

  .main-nav-sub-menu {
    top: -500px;

    padding-top: 90px;
    padding-bottom: 35px;

    .site-container {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }

  .main-nav-sub-menu h4,
  .main-footer h4 {
    margin-bottom: 10px;
  }

  .main-nav-sub-menu .header-sub-menu-links,
  .main-footer .footer-links {
    margin-top: 20px;
    margin-right: 0;

    text-align: center;
  }

  //-------FOOTER---------
  .main-footer {
    padding-bottom: 100px;

    background-color: white;
    background-image: url(../img/horseears.jpeg);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: bottom center;

    .page-container {
      flex-direction: column;
      align-items: center;
    }

    .footer-logo {
      width: 100%;
      margin: 0 auto 20px;

      text-align: center;
    }
  }

  //------CONTACT PAGE------
  .form-container {
    .left-field {
      padding-right: 0;
    }

    .right-field {
      padding-left: 0;
    }
  }

  //-------LOGIN PAGE------
  .login-form .form-group {
    margin-bottom: 15px;
  }

  .login-btn {
    width: 200px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {

  .smaller-container,
  .site-container,
  .page-container,
  .site-contact .form-container,
  .container,
  .enter-container {
    padding-right: 25px;
    padding-left: 25px;
    min-width: auto;
    max-width: 100% !important;
  }

  .enter-container {
    width: 325px
  }

  .user-nav .btn-join {
    display: block;
  }

  //-----
  .main-nav-sub-menu {
    padding-top: 120px;

    .site-container {
      flex-direction: row;
      align-items: flex-start;
      justify-items: center;
      justify-content: center;
      align-content: center;
    }
  }


  .header-site-nav{
    display: none;
  }

  .main-nav-sub-menu h4,
  .main-footer h4 {
    margin-bottom: 17px;
  }

  .main-nav-sub-menu .header-sub-menu-links,
  .main-footer .footer-links {
    margin-right: 80px;
    margin-top: 0;

    text-align: left;
  }

  .main-nav-sub-menu .header-sub-menu-links:last-of-type,
  .main-footer .footer-links:last-of-type {
    margin-right: 0;
  }

  //-----
  .main-footer {
    background-image: url(../img/eye.jpg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: top left;

    .page-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
    }

    .footer-logo {
      width: 100%;
      margin: 0 0 35px;

      text-align: center;
    }

    .footer-links {
      margin-right: 80px;
      margin-top: 0;
    }

    .footer-links:last-of-type {
      margin-right: 0;
    }
  }

  //-----
  .site-contact .form-container {
    width: 600px;

    .left-field {
      padding-right: 10px;
    }

    .right-field {
      padding-left: 10px;
    }
  }

}

@media (min-width: 1024px) {

  .smaller-container,
  .site-container,
  .page-container,
  .site-contact .form-container,
  .container,
  .enter-container {
    padding-right: 0;
    padding-left: 0;
  }

  .main-header-wrapper .site-container {
    flex-direction: row;
    justify-content: center;
  }

  .site-container {
    min-width: 960px;
    width: 85% !important;
  }

  .page-container, .container {
    width: 800px;
  }

  .smaller-container {
    width: 900px;
  }

  .header-site-nav, .user-nav {
    display: flex;
  }

  .main-nav-sub-menu .site-container {
    padding-left: 60px;
    justify-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .main-nav-sub-menu .header-sub-menu-links,
  .main-footer .footer-links {
    margin-right: 100px;
  }

  .main-footer {
    .footer-logo {
      width: auto;
      margin-right: 70px;
    }

    .footer-links {
      text-align: left;
    }
  }
}

@media (min-width: 1335px) {
  .menu-icon {
    margin-right: 30px;
  }

  .main-nav a {
    margin-right: 10px;
  }

  .main-nav-sub-menu .site-container {
    padding-left: 75px;
  }

  .main-nav-sub-menu section {
    margin-right: 120px;
  }

  .smaller-container,
  .site-container,
  .page-container,
  .site-contact .form-container,
  .container {
    max-width: 1335px;
  }
}