@import "variables.less";

.grid-view {
  width: 100%;
}

.table-view {
  width: 100%;
  margin: 15px 0 50px;

  font-family: Lato, Arial, sans-serif;

  border-collapse: collapse;

  thead tr{
    border-bottom: 1px solid @lightgrey;
    margin-bottom: 2px;
  }

  th {
    padding: 10px 15px;

    font-size: 14px;
    font-weight: 500;
    color: lighten(@darkgrey, 10%);
    text-align: left;

    a {
      font-weight: 500;
      color: lighten(@darkgrey, 10%);
      text-decoration: underline;
    }

    a:active, a:hover {
      color: black;
    }
  }

  tr {
    border-bottom: 1px solid @lightgrey;
  }

  tbody tr:last-of-type {
    border-bottom: none;
  }

  td {
    padding: 20px 15px;
    vertical-align: middle;
  }

  tbody td:last-of-type{
    display: flex;

    a {
      margin-right: 5px;
    }
  }

  .date-td {
    min-width: 68px;

    font-size: 13px;
  }
}

a .glyphicon {
  color: rgba(0, 0, 0, 0.5)
}

a:hover .glyphicon {
  color: rgba(0, 0, 0, 0.96)
}

.summary {
  position: relative;
  top: 15px;

  display: inline-block;
  margin-bottom: 60px;

  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: #4a4a4a;
}

.item-thumb {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 15px 0 0;

  background: url(/img/default.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;

    border-radius: 50%;
  }
}

.item-title {
  display: inline-block;

  font-size: 16px;
  font-weight: 500;
  color: black;

  &:hover {
    color: @primary;
    text-decoration: none;
  }
}

.title-td{
  display: flex;
  align-items: center;
}

.item-tag {
  margin-right: 4px;
  padding: 6px 10px;

  font-family: Lato, Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;

  background-color: @lightcreme;
  border-radius: 10px;
}